<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
  <link rel="stylesheet" media="(prefers-color-scheme: dark)"
    href="//cdn.jsdelivr.net/npm/docsify-themeable@0/dist/css/theme-simple-dark.css">
  <link rel="stylesheet" media="(prefers-color-scheme: light)"
    href="//cdn.jsdelivr.net/npm/docsify-themeable@0/dist/css/theme-simple.css">
</head>

<body>
  <div id="app"></div>
  <script>
    window.$docsify = {
      name: 'Default',
      repo: '',
      auto2top: true,
      autoHeader: true,
      externalLinkRel: '',
      // hideSidebar: true,

      search: 'auto',
    }
  </script>
  <!-- Docsify v4 -->
  <script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify-themeable@0"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify@4/lib/plugins/search.js"></script>
  <script src="//cdn.jsdelivr.net/npm/docsify-pagination/dist/docsify-pagination.min.js"></script>
</body>

</html>